<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SingleTestSuite">
    <test name="SingleTest">
        <classes>
            <class name="com.harel.TravelPolicyTest">
                <methods>
                    <include name="travelInsuranceFirstTimeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
